/* 
.TweetCard  * {
    border: 1px solid white;
} */

.TweetCard {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid var(--bg-color-active);
    border: 2px solid var(--bg-color-active);
}

.TweetCard-picture {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 15%;
}
.TweetCard-picture img {
    width: 70%;
    border-radius: 50%;
}

/*-----------------------------------------------------------*/

.TweetCard-content {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    width: 80%;
    font-family: "Fira Code", monospace;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
    
}
.TweetCard-content-title{
    width: 100%;
}
.TweetCard-content-title-head {
    display: flex;
    /* margin-top: 25px; */
}
.TweetCard-content-title-head .title{
    margin-right: 5px;
    
    padding: 5px;

    font-weight: 700;
    font-size: 20px;
    font-family: "Silkscreen", sans-serif;
    color: var( --bg-color-section);    

}
/*================================================================*/
/*Para cambiar el color de fondo de los username segun el color escogido y ese color se setea en al atributo */
.title[data-color="#F50D5A"] {
    background-color: #F50D5A;
}
.title[data-color="#FF865C"] {
    background-color: #FF865C;
}
.title[data-color="#FFEA5C"] {
    background-color: #FFEA5C;
}
.title[data-color="#00DA76"] {
    background-color: #00DA76;
}
.title[data-color="#0096CE"] {
    background-color: #0096CE;
}
.title[data-color="#800FFF"] {
    background-color: #800FFF;
}
/*================================================================*/



.TweetCard-content-title-head .date {
    padding: 5px;
}

.TweetCard-content-title .text {
    padding-left: 5px;
    margin: 20px 0;
    word-wrap: break-word;
}

.TweetCard-content-like {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    padding-left: 5px;
    height: 20px;
    cursor: pointer;
}
.current-likes {
    margin-top: 10px;
}

/*-----------------------------------------------------------*/

.TweetCard-delete {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 5%;
    cursor: pointer;

}
.TweetCard-delete img {
    width: 24px;
}
