*::before,*::after,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color-navbar: #250C23;
    --bg-color-head: #150714;
    --bg-color-body: #2E132C;

    --bg-color-active: #60265B;
    --bg-color-btn-continue: #00DA76;
    --bg-color-btn-google: #4285F4;
}